jenkins:
  agentProtocols:
  - "JNLP4-connect"
  - "Ping"
  numExecutors: 2
  primaryView:
    all:
      name: "all"
  projectNamingStrategy: "standard"
  quietPeriod: 5
  remotingSecurity:
    enabled: true
  scmCheckoutRetryCount: 0
  slaveAgentPort: 50000
  authorizationStrategy: "loggedInUsersCanDoAnything"
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "password"
          properties:
          - sshPublicKey:
              authorizedKeys: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDC46qsTugeC3JCHttoNP508enbnU6UyO04nhWa+aCzPgeMn8Z5hHNUB81i7lKE1XU1sTIAZbMjKPG89bNqUhcotaqBIDdJTeFLcfGPZvcMK0zt2i8E1C0F46TlfY5C7ACr83yBo7YTW4JSrBfpcL+jvAWxk+X33LTu/hnyH/emAGurv4BwDjlSBUJnYu+5fm/S/Na+ypPMaiUiYrsLOUeomARSVOMUG8TUxlWJNhVTwI7zIdwoa4T9u0h7FJGlaKq8TtqRAegb3pEGbY2oZAI15ZkTMUI0G7hBr7EeG/hw+L9F8eiOkFEvy4uxHXoetDNOpd+vvrWf8aDPttlFlJaHhQE9T9QDju/JC2JK1EPQ+k5OPH09pBpGnxrxZH4ywwdR8knK2J/HrGCPL2O2a7A6LHHygTpkViYWhCtcJRx1N1MKLBO1JbMp5Fe0oZjBdvgWakvh0wWBX5oeEViTOGScTA81HnjFguA8FeWDl1Ct83m0fJzsP4eQaIEZwv9nsk6wf//Lo+oERRRAnvzL6qacPsVPw7Sjl4nqg3g6PLk9xCdezrUYNL9RsZ9s0FQLWbpIRqP4XOspqPyBIsxHeXzq8GUNZDqRmUOnkVoEV5kZhUxDlO6hDWyqNZvZbowmO6opUtEKON9cADXaBqR/ZK/zeNKsPN7Qh7K49eeHjYXAZQ== user@host"
  authorizationStrategy: loggedInUsersCanDoAnything
security:
  apiToken:
    creationOfLegacyTokenEnabled: false
    tokenGenerationOnCreationEnabled: false
    usageStatisticsEnabled: true
  sSHD:
    port: 2222
unclassified:
  location:
    adminAddress: "admin@example.com"
    url: "http://jenkins.example.com:8080/"
